<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <title>Fragebogen zu Öffentlichen Verkehrsmitteln</title>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>Users: <%= controller.action_name %></title>
        <!--<%= stylesheet_link_tag 'scaffold' %>-->
        <%= stylesheet_link_tag 'style' %>
        <%= stylesheet_link_tag 'table' %>
        <%= stylesheet_link_tag 'form' %>
        <%= stylesheet_link_tag 'validationEngine.jquery' %>
        <%= stylesheet_link_tag "smerf", :cache => true  %>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <script src="/js/hwform.js"></script>
        <script src="/js/jquery.validationEngine-en.js"></script>
        <script src="/js/jquery.validationEngine.js"></script>
    </head>
    <body>
        <div id="page">
            <h1 class="header">
                <a id="logo" href="index.php" target="_blank" name="logo">Fragebogen zu Öffentlichen Verkehrsmitteln</a>
            </h1>
            
            <% if notice %>
                <div class="survey-block notice">
                    <p><%= notice %></p>
                </div>
            <% end %>
            
            <div class="survey-block">
                <p>
                    F&uuml;r ein Forschungsprojekt im Rahmen des Studiengangs „Wirtschaft &amp; Management“ am MCI – Management Center Innsbruck werden die Nutzungsgewohnheiten, Wissensstand und Einstellung der Bürger zu den öffentlichen Verkehrsmitteln in Tirol erhoben.
                </p>
                <p>Projektleitung: Prof. FH Ing. Mag. Walter Moriel</p>
            </div>
            
            <div class="survey-block">
                <p>
                    <b>Der Fragebogen ist in sieben Bl&ouml;cken aufgebaut:</b>
                    <ol>
                        <li>Erreichbarkeit wichtiger Ziele und Eignung verschiedener Verkehrsmittel</li>
                        <li>Bekanntheit des Angebots der öffentlichen Verkehrsmittel</li>
                        <li>Einstellung gegenüber den öffentlichen Verkehrsmitteln</li>
                        <li>Nutzung in den vergangenen acht Wochen</li>
                        <li>Informationsquellen</li>
                        <li>Gründe für geringe Nutzung</li>
                        <li>Den Abschluss bilden einige Angaben zur ausfüllenden Person.</li>
                    </ol>
                </p>
            </div>
            <div class="survey-block notice">
                Die Beantwortung der Fragen nimmt ca. 5 Minuten in Anspruch.
            </div>
            <div class="seperator"></div>
            <form id="mcisurvey" action="survey/submit" method="POST">
                
                <%= yield %>
            
                <div class="survey-block thankyou">
                    Danke für Ihre Unterstützung!
                </div>
                <p>
                    <center><input class="large mcibutton super button" type="submit" value="Fragebogen abschicken"></center>
                </p><br />
            </form>
        </div>
    </body>
</html>